{% extends "blog-layout.html" %}

{% block title %}
    My 5E Encounter Tracker
{% endblock %}

{% block tags %}
    <span class="badge mx-2" id="dnd">TAG</span>
    <span class="badge mx-2" id="tech">TAG</span>
    <span class="badge mx-2" id="new">TAG</span>
{% endblock %}

{% block date %}
    6/11/2023
{% endblock %}

{% block image %}
    src="https://upload.wikimedia.org/wikipedia/commons/a/af/D20_icon.png"
{% endblock %}

{% block image_credit %}
    <a href="https://commons.wikimedia.org/wiki/File:D20_icon.png" target="_blank">wikimedia</a>
{% endblock %}

{% block text_content %}
    Back in 2020, I built a <a href="https://github.com/YourPalSocks/D-D-Encounter-Tracker">Combat/Encounter Tracker</a> in Java as a small little tool to help me keep track of combat during games.
    I got into the game around late 2019-ish, and was a DM in full swing months after starting.
{% endblock %}