{% extends "blog-layout.html" %}

{% block title %}
    My 5E Encounter Tracker
{% endblock %}

{% block tags %}
    <span class="badge mx-2" id="dnd">TAG</span>
    <span class="badge mx-2" id="tech">TAG</span>
{% endblock %}

{% block date %}
    6/11/2023
{% endblock %}

{% block image %}
    src="https://upload.wikimedia.org/wikipedia/commons/a/af/D20_icon.png"
{% endblock %}

{% block image_credit %}
    <a href="https://commons.wikimedia.org/wiki/File:D20_icon.png" target="_blank">wikimedia</a>
{% endblock %}

{% block text_content %}
    Back in 2020, I built a <a href="https://github.com/YourPalSocks/D-D-Encounter-Tracker">Combat/Encounter Tracker</a> in Java as a small little tool to help me keep track of combat during games
    of Dungeons and Dragons.
    I got into the game around late 2019-ish with 5th edition, and was a DM in full swing months after starting. Anyone who's played the game before knows that combat can be a mess for Dungeon Masters to
    keep track of, especially when theres a lot of players and different monster types.
    <br>
    It is because of this that I made this tool (that and I was trying to justify my 2-3 years of Java experience). It makes use of the archaic Swing toolkit that gives applications a lovely
    old-school look (because it is). Looking back on it, the UI can feel a bit on the clunky side, but I still like a lot of the ideas from it, like dividing it up between combatants who could
    be in combat and the characters actually engaged in combat, the enemy manager used for handling enemies of the same type, and the auto initiative sorter.
    <br>
    I consider the project to be finished now, and thankfully the libraries I used haven't been deprecated yet, so it still works on at least Windows 10. That said, I have considered re-creating
    the tool in another GUI system like Python's Tkinter, but who knows.
{% endblock %}