{% extends "blog-layout.html" %}

{% block title %}
    Orelore's: Celestial Deficiency
{% endblock %}

{% block tags %}
    <span class="badge mx-2" id="dnd">TAG</span>
    <span class="badge mx-2" id="art">TAG</span>
{% endblock %}

{% block date %}
    6/12/2023
{% endblock %}

{% block image %}
    src="https://www.dndbeyond.com/avatars/thumbnails/30761/784/1000/1000/638061093601900776.png"
{% endblock %}

{% block image_credit %}
    <a href="https://www.dndbeyond.com/monsters/16840-deva" target="_blank">D&D Beyond</a>
{% endblock %}

{% block text_content %}
    Dungeons and Dragons doesn't have a lot of <a href="https://www.5esrd.com/gamemastering/monsters-foes/monsters-by-type/celestials/" target="_blank">celestials</a> -having a total of about 27 non-named entries at the time of writing- and the celestials included have even less lore about them. The Monster Manual
    only has like a page or so describing them.
    <br>
    To try writing a more flexible module rather than specific campaigns like I'm used to, I decided to try my hand at adding more creatures to the game's upper planes. This has taken form in
    <a href="https://www.notion.so/sock-puppet-studio/Orelore-s-Divine-Hierarchy-bcc3d84777ba4eb88f78844004c80ca1?pvs=4" target="_blank">Orelore's Divine Heirarchy</a>. I'd like to make small posts for each of
    the Bestiary's creatures, but I'd like to talk about it on a higher level.
    <br>
    The goal isn't to add more angels as "enemies" necessary, but rather add more plot-points and interesting creatures the party can meet as they travel throughout the multiverse. In many settings we're told
    how often the Gods or other powers like to intervene, but we rarely see it because a God can't just appear suddenly in the world, I feel that takes away from their mystique and feeling of "awe".
    Many religions the world over don't have the god(s) working alone, but supported by large armies, attendants, and governing systems to assign jobs to the angels.
    <br>
    Another goal I set for myself was to mainly stick to Abrahamic religions for inspiration and pull from the myths and folklore of cultures I'm not familiar with, specifically Judaism and Islam for this project.
    Most of the angels in the project are a fusion of different ideas from these religions, similar to what Wizards does for its creatures.
{% endblock %}