{% extends "blog-layout.html" %}

{% block title %}
    Orelore's: Celestial Deficiency
{% endblock %}

{% block tags %}
    <span class="badge mx-2" id="dnd">TAG</span>
    <span class="badge mx-2" id="art">TAG</span>
    <span class="badge mx-2" id="new">TAG</span>
{% endblock %}

{% block date %}
    6/12/2023
{% endblock %}

{% block image %}
    src="https://www.dndbeyond.com/avatars/thumbnails/30761/784/1000/1000/638061093601900776.png"
{% endblock %}

{% block image_credit %}
    <a href="https://www.dndbeyond.com/monsters/16840-deva" target="_blank">D&D Beyond</a>
{% endblock %}

{% block text_content %}
    Dungeons and Dragons doesn't have a lot of <a href="https://www.5esrd.com/gamemastering/monsters-foes/monsters-by-type/celestials/" target="_blank">celestials</a> -having a total of about 27 non-named entries at the time of writing- and the celestials included have even less lore about them. The Monster Manual
    only has like a page or so describing them.
    <br>
    This is another paragraph
{% endblock %}