{% extends "blog-layout.html" %}

{% block title %}
    Wild Night: Jurassic Park of Horror
{% endblock %}

{% block tags %}
    <span class="badge mx-2" id="coc">TAG</span>
    <span class="badge mx-2" id="art">TAG</span>
{% endblock %}

{% block date %}
    7/7/2023
{% endblock %}

{% block image %}
    src="https://static01.nyt.com/images/2021/02/02/science/26TB-DINO-02/26TB-DINO-02-superJumbo.jpg"
{% endblock %}

{% block image_credit %}
    <a href="https://www.nytimes.com/2021/01/26/science/spinosaurus-underwater-dinosaur.html" target="_blank">New York Times</a>
{% endblock %}

{% block text_content %}
    Recently, I've been getting tired with Dungeons and Dragons, and wanted to try a different style of game. This is what drew me to the <i>Call of Cthulhu</i> TTRPG system.
    In a game like DnD, the players hold most of the cards. This isn't a bad thing, but it can be hard to build tension in a horror or intrigue type setting given the party's 
    magical abilities. This type of game has its place, but I wanted to try something different.
    <br>
    <i>Call of Cthulhu</i>, for those unaware is another type of TTRPG game, but has a heavier emphasis on role-playing and less on combat. Instead of the party holding the cards,
    the monsters and enemies are the ones with most of the cool powers and actions to do. Rather than stories ending with the heros triumphant, these games usually end either in death or
    the investigators suffering horrible mental trauma, or both.
{% endblock %}