{% extends "blog-layout.html" %}

{% block title %}
    Wild Night: Jurassic Park of Horror
{% endblock %}

{% block tags %}
    <span class="badge mx-2" id="coc">TAG</span>
    <span class="badge mx-2" id="art">TAG</span>
    <span class="badge mx-2" id="new">TAG</span>
{% endblock %}

{% block date %}
    7/7/2023
{% endblock %}

{% block image %}
    src="https://static01.nyt.com/images/2021/02/02/science/26TB-DINO-02/26TB-DINO-02-superJumbo.jpg"
{% endblock %}

{% block image_credit %}
    <a href="https://www.nytimes.com/2021/01/26/science/spinosaurus-underwater-dinosaur.html" target="_blank">New York Times</a>
{% endblock %}

{% block text_content %}
    <p id="blog_content"> 
        Recently, I've been getting tired with Dungeons and Dragons, and wanted to try a different style of game. This is what drew me to the <i>Call of Cthulhu</i> TTRPG system.
        In a game like DnD, the players hold most of the cards. This isn't a bad thing, but it can be hard to build tension in a horror or intrigue type setting given the party's 
        magical abilities. This type of game has its place, but I wanted to try something different.
    <br>
    <i>Call of Cthulhu</i>, for those unaware is another type of TTRPG game, but has a heavier emphasis on role-playing and less on combat. Instead of the party holding the cards,
    the monsters and enemies are the ones with most of the cool powers and actions to do. Rather than stories ending with the heros triumphant, these games usually end either in death or
    the investigators suffering horrible mental trauma, or both.
    </p>

    <br/>

    <h3>Inspiration</h3>
    <p id="blog_content"> 
    For this game, I got a lot of inspiration from Jurassic Park and the TikTok trend of "Realistic Dinosaur Sounds". The Spinosaurus in particular stuck with me for how harmonic yet haunting
    it was. Here's a <a href="https://www.tiktok.com/@jurassicworld.13/video/7174776254183247109?lang=en">good example</a> I found.
    </p>

    <br/>

    <h3>Premise</h3>
    <p id="blog_content">
        The game sees the cast of investigators stranded in the Florida Everglades after their tour buggy crashes on the return trip. As they all come to, they find that their buggy is damaged and
        their tour guide missing. As rustling surrounds them from the trees above, they have to navigate the dangeros swamp and find a way out.
    </p>

    <br/>

    <h3>!! SPOILER WARNING !!</h3>
    <p id="blog_content">
        Instead of facing the run-of-the-mill Eldritch Alien abominations, this game features Dinosaurs as the antagonists! This is a feature I try to keep close to my chest as I feel
        telling my players they'll be facing dinosaurs can ruin the tension and seriousness <i>Call of Cthulhu</i> needs to succeed. My idea was to have the dinos prove their ferocity first
        before providing players with the information of what they're facing. If you're looking for inspiration, check out some of the art from the Jurrasic Park book, it's gory and haunting.
        <br />
        The major antagonist is a rampaging Spinosaurus, a choice I thought would be much more interesting over a stereotypical T-Rex. Throughout the game, the Keeper is supposed to keep a
        D4 on the table, and decrease it by 1 everytime the players make a loud noise or otherwise draw attention to themselves. When it reaches 0, the Spinosaurus shows up and murder ensues.
        The investigators stand no chance against the thing, so their only hope is to flee, but the dino is also faster than the party, so they'll have to find a more clever way to escape. Even the
        game's McGuffin, which I'll keep a secret, can only stun the dino and let the players get away easier.
    </p>

    <br/>

    <p id="blog_content">For those wanting to check out the game, or run it yourselves, you can find my notes
        <a href="https://sock-puppet-studio.notion.site/C-o-C-Wild-Night-e5616d93e14b426f9b556d285eb5b614?pvs=4" target="_blank">here</a>!</p>
{% endblock %}