{% extends "layout.html" %}

{% block title %}404{% endblock %}

{% block body %}
<div class="row align-items-center my-4">
    <div class="col-sm-4">
        <h2 class="my-5"><span class=special-e>4</span>04</h2>
        <p>
            Looks like this page doesn't exist. Enjoy this picture of my cat: Dusty.
        </p>
    </div>
    <div class="col-sm-5">
        <img class="needs_box" src="{{ url_for('static', filename='media/dusty.png') }}" class="d-block p-2 text-center" width="50%" min-height="20%" style="display: block; margin: auto;">
    </div>
    <p>
        Click on the button below to return to the homepage, or use the sidebar buttons.
    </p>
</div>
<div class="row align-items-center">
    <div class="col m-4" style="max-width: 182px;">
        <a href="{{ url_for('pages', page='index') }}"><button type="button" class="btn btn-outline-primary rounded-pill px-5"><strong>Home</strong></button></a>
    </div>
{% endblock %}