{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <!-- Custom CSS sheet for blog things -->
    <link href="{{ url_for('static', filename='blog-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row h-20 m-3">
        <div class="row my-4">
            <h2 class="my-5"><span id=special-e>B</span>log.</h2>
            <p>
                My musings on different tech or creative-related topics.
            </p>
        </div>
        <!-- Blog blocks start here-->
        <div class="row my-4" id="blog_block">
            <p id="use_prim_text" class="col-sm-8">My 5E Encounter Tracker<span class="badge mx-2" id="dnd">TAG</span><span class="badge mx-2" id="tech">TAG</span></p> <!-- Title and tags here -->
            <p class="w-30 col-sm-2">6/11/2023</p> <!-- Date here -->
            <a href="{{ url_for('blog_page', page='5e-encounter-art')}}"><p>CLICK HERE >></p></a>
        </div>
        <div class="row my-4" id="blog_block">
            <p id="use_prim_text" class="col-sm-8">A super long title to see how this looks on desktop and mobile<span class="badge mx-2" id="coc">TAG</span><span class="badge mx-2" id="games">TAG</span></p> <!-- Title and tags here -->
            <p class="w-30 col-sm-2">6/11/2023</p> <!-- Date here -->
            <p>CLICK HERE >></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='tag-check.js') }}"></script>
{% endblock %}