{% extends "layout.html" %}

{% block title %}Blog{% endblock %}

{% block head %}
    {{ super() }}
    <!-- Custom CSS sheet for blog things -->
    <link href="{{ url_for('static', filename='blog-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row h-20 m-3">
        <div class="row my-4">
            <h2 class="my-5"><span class=special-e>B</span>log.</h2>
            <p>
                Talking tech, games, art, my projects, and anything in between.
            </p>
        </div>
        <!-- Blog blocks start here (newest at top)-->

        {% with 
            title="Wild Night: Jurassic Park of Horror", 
            date="7/7/2023", 
            tags=["coc", "art", "new"],
            b_pg="wild-night-art" 
        %}
            {% include "blog-blurb-layout.html" %}
        {% endwith %}

        {% with 
            title="Orelore's: Celestial Deficiency", 
            date="6/12/2023", 
            tags=["dnd", "art"],
            b_pg="celestial-deficiency-art" 
        %}
            {% include "blog-blurb-layout.html" %}
        {% endwith %}

        {% with 
            title="My 5E Encounter Tracker", 
            date="6/11/2023", 
            tags=["dnd", "tech"], 
            b_pg="5e-encounter-art" 
        %}
            {% include "blog-blurb-layout.html" %}
        {% endwith %}
        
    </div>

    <script src="{{ url_for('static', filename='tag-check.js') }}"></script>
{% endblock %}