{% extends "layout.html" %}

{% block body %}
<div class="row align-items-center justify-content-center h-100 m-3">
    <div class="row align-items-center my-4">
        <div class="col-sm-4">
            <h2 class="my-5">I'm <span id=special-e>E</span>than.</h2>
            <p>
                A student and professional programmer based in Dayton, Ohio.
                I build all kinds of things: from games to websites.
            </p>
        </div>
            
        <div class="col-sm-5">
            <img id="needs_box" src="{{ url_for('static', filename='media/me.gif') }}" class="d-block p-2 text-center" width="50%" min-height="20%" style="display: block; margin: auto;">
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col m-4" style="max-width: 182px;">
            <a href="{{ url_for('pages', page='projects') }}"><button type="button" class="btn btn-outline-primary rounded-pill px-5"><strong>My Work</strong></button></a>
        </div>

        <div class="col m-4" style="max-width: 182px;">
            <a href="{{ url_for('pages', page='resume') }}"><button type="button" class="btn btn-outline-primary rounded-pill px-5"><strong>Resume</strong></button></a>
        </div>
    </div>

    <div class="row w-20 mx-6 my-4 justify-content-left" id="social_buttons">
        <div class="col px-1">
            <a href="https://www.instagram.com/ethancodesandstuff/" target="_blank">
                <img id="sm_icon" src="{{ url_for('static', filename='media/insta.png') }}">
            </a>
        </div>
        <div class="col px-1">
            <a href="https://github.com/YourPalSocks/" target="_blank">
                <img id="sm_icon" src="{{ url_for('static', filename='media/github.png') }}">
            </a>
        </div>
        <div class="col px-1">
            <a href="https://sock-puppet-studio.itch.io/" target="_blank">
                <img id="sm_icon" src="{{ url_for('static', filename='media/itch.png') }}">
            </a>
        </div>
        <div class="col px-1">
            <a href="https://play.google.com/store/apps/developer?id=Sock+Puppet+Studio" target="_blank">
                <img id="sm_icon" src="{{ url_for('static', filename='media/googleplay.png') }}">
            </a>
        </div>
    </div>
</div>
{% endblock %}