{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div class="row h-100 m-3">
        <div class="row my-4">
            <h2 class="my-5"><span class=special-e>P</span>rojects.</h2>
            <p>
                A catalog of my different technical and creative projects.
            </p>
        </div>
        <!-- Project blocks start here-->
        <div class="row my-1">
            <h3>Games</h3>
            <p>
                Game Jams, small projects, and other collections.
            </p>
            <!-- Extra steps for mobile -->
            <div class="d-sm-block d-md-none">
                <p>Tap on a game's icon to go to its download page</p>
            </div>
        </div>

        <div class="row w-70 m-4 p-2 needs_box" style="width: 70%;">
            <div class="col-4">
                <iframe src="https://itch.io/embed/869116?dark=true" width="208" height="167" frameborder="0"><a href="https://sock-puppet-studio.itch.io/pinhead-in-cube-world">Pinhead in Cube World by Sock Puppet Studio</a></iframe>
            </div>
            <div class="col d-none d-lg-block">
                <p class="use_prim_text">Pinhead in Cube World</p>
                <p>A doom-inspired run-and-gun created for Completion Jam 2020</p>
            </div>
        </div>

        <div class="row w-70 m-4 p-2 needs_box" style="width: 70%;">
            <div class="col-4">
                <iframe src="https://itch.io/embed/1166438?dark=true" width="208" height="167" frameborder="0"><a href="https://sock-puppet-studio.itch.io/blight-of-thornmouth">The Blight of Thornmouth by Sock Puppet Studio</a></iframe>
            </div>
            <div class="col d-none d-lg-block">
                <p class="use_prim_text">Blight of Thornmouth</p>
                <p>A 'who dun it' romp through a disease-striken town. Created for Kenney Jam 2021</p>
            </div>
        </div>

        <div class="row w-70 m-4 p-2 needs_box" style="width: 70%;">
            <div class="col-4">
                <iframe src="https://itch.io/embed/1679190?dark=true" width="208" height="167" frameborder="0"><a href="https://sock-puppet-studio.itch.io/nft-destroyer">NFT Destroyer by Sock Puppet Studio</a></iframe>
            </div>
            <div class="col d-none d-lg-block">
                <p class="use_prim_text">NFT Destroyer</p>
                <p>An idle game where you destroy overhyped virtual "assets"</p>
            </div>
        </div>

        <div class="row w-70 m-4 p-2 needs_box" style="width: 70%;">
            <div class="col-4">
                <iframe src="https://itch.io/embed/1706015?dark=true" width="208" height="167" frameborder="0"><a href="https://sock-puppet-studio.itch.io/the-zalnar-collection">The Zalnar Collection by Sock Puppet Studio</a></iframe>
            </div>
            <div class="col d-none d-lg-block">
                <p class="use_prim_text">The Zalnar Collection</p>
                <p>4 of my games from when I was just learning how to code. Play at your own risk</p>
            </div>
        </div>

        <div class="row w-70 m-4 p-2 needs_box" style="width: 70%;">
            <div class="col-4">
                <iframe frameborder="0" src="https://itch.io/embed/2612890?dark=true" width="208" height="167"><a href="https://sock-puppet-studio.itch.io/diggin-it-with-drillby">Diggin' It With Drillby by Sock Puppet Studio</a></iframe>            </div>
            <div class="col d-none d-lg-block">
                <p class="use_prim_text">Diggin' it with Drillby</p>
                <p>A Flappy Bird inspired infinite runner made for android phones.</p>
            </div>
        </div>

        <hr class="hr"/>

        <div class="row my-1">
            <h3>Tools and Other Tech</h3>
            <p>
                Small utilities and other Github oddities.
            </p>
        </div>
        {% with 
            title="5E Encounter Tracker",
            desc="A Java/Swing program that tracks combat for Dungeons & Dragons 5th edition.",
            link="https://github.com/YourPalSocks/D-D-Encounter-Tracker"
        %}
            {% include "project-blurb-layout.html" %}
        {% endwith %}

        {% with 
            title="Aggregation Station",
            desc="Made for the Make-It-Wright Hackathon 2023 in ~48 hours. Creates BarTender labels based on Excel spreadsheets.",
            link="https://github.com/YourPalSocks/Make-It-Wright-Hackathon"
        %}
            {% include "project-blurb-layout.html" %}
        {% endwith %}

        {% with 
            title="iGEM Wiki",
            desc="A website I helped make for the Wright State iGEM team for the 2023 competition.",
            link="https://2023.igem.wiki/wrightstate-oh/"
        %}
            {% include "project-blurb-layout.html" %}
        {% endwith %}

        <hr class="hr"/>

        <div class="row my-1">
            <h3>Writing</h3>
            <p>
                I do writing for TTRPG's like <i>Call of Cthulhu</i> and <i>Dungeons & Dragons</i>. As well as Game Design Documents for my projects.
            </p>
        </div>

        {% with 
            title="Orelore's Divine Heirarchy 😇",
            desc="A heirarchy of angels and celestials built for Dungeons & Dragons 5th edition.",
            link="https://www.notion.so/sock-puppet-studio/Orelore-s-Divine-Hierarchy-bcc3d84777ba4eb88f78844004c80ca1?pvs=4"
        %}
            {% include "project-blurb-layout.html" %}
        {% endwith %}

        {% with 
            title="Call of Cthulhu: Wild Night 🐱‍🐉",
            desc="A trip to the Everglades turned deadly after ancient predators reawaken. For Call of Cthulhu 7th edition.",
            link="https://sock-puppet-studio.notion.site/C-o-C-Wild-Night-e5616d93e14b426f9b556d285eb5b614?pvs=4"
        %}
            {% include "project-blurb-layout.html" %}
        {% endwith %}
    </div>
{% endblock %}