{% extends "layout.html" %}

{% block title %}Resume{% endblock %}

{% block body %}
    <div class="row h-100 m-3">
        <div class="row my-4">
            <h2 class="my-5"><span class=special-e>R</span>esume.</h2>
            <p>Innovative and motivated problem-solver seeking to learn new skills and apply them in inventive and efficient
                solutions. Objective-focused and quick to learn with pre-existing workflows and structures.</p>
        </div>

        <div class="row my-1">
            <h3><span class=special-e>E</span>xperience</h3>
            <h5>Computer Scientist @ Applied Optimization, Inc.</h5>
            <p>April 2024 - Present </p>
            <p class="my-3"></p>

            <h5>Computer Science Intern @ Applied Optimization, Inc.</h5>
            <p>September 2023 - April 2024</p>
            <p>Created utility software in C++, Python, and MATLAB to assist in various space sciences.</p>
            <p class="my-3"></p>

            <h5>Frontend Web Developer @ Wright State University IGEM Team</h5>
            <p>June 2023 - November 2023</p>
            <p>Utilized Flask, Jinja, and Gitlab in a small team members to develop a static website for the Synthetic Biology (iGEM) team. The site uses Gitlab pages as its host. Created documentation and communication channels to facilitate open communication between our team and the rest of the iGEM team, as well as within the coding team itself.</p>
            <p class="my-3"></p>

            <h5>Online Instructor @ Coding Minds Academy</h5>
            <p>Feburary 2023 - September 2023</p>
            <p>Led 1-1 and short-size (<4 student) classes teaching Computer Science topics ranging such as game creation in Roblox, Python fundamentals, Java fundamentals for AP testing, and more.</p>
            <p class="my-3"></p>

            <h5>Content Developer @ internalDrive, Inc.</h5>
            <p>October 2021 - September 2022</p>
            <p>Created the lessons, projects, and activities for instructors to deliver. Also collected instructor feedback to better courses and provided technical support to students and instructors as issues arose.</p>
            <p class="my-3"></p>

            <h5>Online Instructor @ internalDrive, Inc.</h5>
            <p>October 2020 - October 2021</p>
            <p>Delivered educational content to clients from ages 7-17. Packaged lessons into fun and digestible projects to build students a foundation in Programming and Game Design.</p>
            <hr>
        </div>
        <div class="row my-1">
            <h3><span class=special-e>E</span>ducation</h3>
            <h5>Computer Science B.S.</h5>
            <p>Wright State University</p>
            <p>August 2022 - April 2024</p>
            <p class="my-3"></p>

            <h5>Computer Science A.S.</h5>
            <p>Sinclair Community College</p>
            <p>August 2020 - May 2022</p>
            <hr>
        </div>
    </div>
{% endblock %}