:root {
    /* Color Palette */
    --primary-color: #673AB7;
    --dark-primary: #512DA8;
    --light-primary: #D1C4E9;
    --accent-color: #E040FB;
    --bg-color: #141414;
    --primary-text: #FFFFFF;
    --secondary-text: #999999;
    --div: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text);
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 72px;
}

p {
    color: var(--secondary-text);
    font-size: 20px;
}

p a {
    color: var(--accent-color)
}

footer {
    margin-top: 50px
}

#special-e {
    color: var(--primary-color);
}

#use_prim_text {
    color: var(--primary-text);
}

#use_acc_text {
    color: var(--accent-color);
}

#needs_box {
    background-color: var(--div);
    border-radius: 25px;
}

#sm_icon {
    max-width: 3em;
    display: block;
    height: auto;
}

#social_buttons {
    width: 60%;
}

@media only screen and (max-device-width: 810px) {
    #social_buttons {
        width: 100%;
    }

    #sm_icon {
        max-width: 2em;
        display: block;
        height: auto;
    }
}

@media only screen and (max-device-width: 576px) {
    #pdf_viewer {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
}

@media only screen and (max-device-width: 576px) {
    p {
        font-size: 16px;
    }
}

.btn-outline-primary {
    color: var(--primary-text);
    border-color: var(--primary-color);
    border-width: 0.7em;
    white-space: nowrap;
}

.btn-outline-primary:hover {
    background-color: var(--dark-primary);
    border-color: var(--primary-color);
}

.btn-outline-primary:focus {
    background-color: var(--dark-primary);
    border-color: var(--primary-color);
}

/* Navbar styles */

#sidebar {
    background-color: var(--primary-color);
    width: 10%;
    position: fixed;
}

#sidebar_acc {
    width: 5px;
    position: fixed;
    margin-left: 10%;
    padding: 0px;
    background-color: var(--accent-color);
}

#navbar_icon {
    background-color: var(--dark-primary);
    width: 100%;
    height: 5em;
    text-align: center;
}

#sidebar_item {
    font-weight: bold;
    color: var(--primary-text);
}

#sidebar_item:hover {
    color: var(--secondary-text);
}

#icon_text {
    font-size: 32px;
    text-align: center;
    color: var(--primary-text);
}

@media only screen and (max-device-width: 576px) {
    #menu {
        width: 0px;
        padding: 0px;
    }
}

ul {
    list-style: none;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    color: var(--primary-text);
}